{% extends 'legal_services/base.html'%}
{% load static %}
{% block content %}

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Подробнее о нас</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Attorney Details -->
        <div class="attorney-details pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="attor-details-item">
                            <img src="{% static 'assets/img/home-one/IMG_2675 (1).JPG'%}" alt="Details">
                            <div class="attor-details-left">
                                <div class="attor-social">
                                    <ul>
                                        <li>
                                            <a href="https://vk.com/katerinafrolova94" target="_blank">
                                                <i class="icofont-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/katerina7825?igsh=djEzYTF1YjVmczk%3D&utm_source=qr" target="_blank">
                                                <i class="icofont-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://t.me/katerina7825" target="_blank">
                                                <i class="icofont-telegram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://wa.me/+79196282428" target="_blank">
                                                <i class="icofont-whatsapp"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="attor-social-details">
                                    <h3>Контакты</h3>
                                    <ul>
                                        <li>
                                            <i class="flaticon-call"></i>
                                            <a href="tel:+79196282428">
                                               +7 919 628 24 28
                                            </a>
                                        </li>
                                        <li>
                                            <i class="flaticon-email"></i>
                                            <a href="mailto:info@frolovalaw.ru">
                                                info@frolovalaw.ru
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="attor-details-item">
                            <div class="attor-details-right">
                                <div class="attor-details-name">
                                    <h2>Фролова Екатерина Евгеньевна</h2>
                                </div>
                                <div class="attor-details-things">
                                    <h3>О Нас</h3>
                                    <p>На данном сайте Вас приветствует команда юристов и я ее руководитель - Фролова Екатерина. Тут Вы можете обратиться к нам онлайн, изложив обстоятельства вопроса, и получить обратную связь в виде сообщения, или же заказать обратный звонок. Вы также можете позвонить нам сами и мы назначим встречу.<br>Наша задача - помочь физическим и юридическим лицам в волнующих их вопросах и спорах, сделать так, чтобы закон полностью защитил их права</p>
                                </div>
                                <div class="attor-details-things">
                                    <h3>О моем образовании:</h3>
                                    <ul>
                                        <li>2012 -2016 гг. бакалавриат в Алтайской академии экономики и права.
Направление - правовая работа в экономики (диплом с отличием)</li>
                                        <li>2016-2018 гг. Магистратура в Алтайском государственном университете.
Направление - Гражданское право, семейное право и международное частное право.
Присвоена квалификация - Магистр права (диплом с отличием).</li>
                                        <li>Опыт работы был разнообразным (семейные споры, страховые дела, земельные, публичные), и совершенно везде деятельность осуществлялась на всех стадиях процесса (досудебная, судебная и реализация решения суда).</li>
                                        <li>После переезда в Республику Татарстан трудовая деятельность осуществлялась в Администрациях различных городов, но при одном и том же работодателе, что позволило изучить некоторые жизненные процессы еще более детально, но уже со стороны исполнительной власти. В связи с чем, мы можем помочь Вам более подробно изучить Вашу проблему, приложить все усилия для урегулирования спора до суда или же, при отсутствии иного выхода и Вашего желания, разрешить проблемы в судебном порядке.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Attorney Details -->

<div class="contact-form contact-form-two contact-form-three">
            <div class="container">
                <div class="contact-wrap">
                    <form method="post">
                        {% csrf_token %}
                        <h2>Онлайн консультация</h2>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    {{ form.name }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    {{ form.email }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    {{ form.phone_number }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    {{ form.msg_subject }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    {{ form.message }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12">
                                <div class="text-center">
                                    <button type="submit" class="contact-btn">Отправить</button>
                                </div>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Contact Form -->


{% endblock %}