{% extends 'legal_services/base.html'%}
{% load static %}
{% block content %}
        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Юридическим лицам</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Case Details Img -->
        <div class="case-details-img pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="case-details-item">
                            <img src="{% static 'assets/img/home-one/IMG_2764.JPG'%}" alt="Case">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="case-details-item">
                            <p>Юридические лица не менее физических нуждаются в квалифицированной помощи, однако, не всегда имеет смысл нанимать штатного юриста, гораздо более выгодно обратиться к нам.
Мы поможем Вам в сопровождении Вашего бизнеса, представим Ваши интересы в суде и государственных органах, составим необходимую документацию.
Вы можете доверить нам как разрешение споров внутри организации с сотрудниками, так за ее пределами с контрагентами.</p>
                            <p>Честно оценить риски, рассказать о перспективах и добиться желаемого результата - наша главная задача!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Case Details Img -->

        <!-- Case Details Tab -->
        <div class="case-details-tab">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="case-details-tab-item">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <p>В любом бизнесе, чтобы оставаться конкурентноспособными с учетом постоянно меняющегося законодательства, вне зависимости от сферы, необходимы качественные юридические услуги, чтобы иметь надежную поддержку и возможность избежать неприятных рисков.</p>
                                    <p>Именно поэтому, наша компания предлагает Вам сотрудничество и сопровождение Вашей деятельности, что позволит Вам сосредоточиться на Вашем бизнесе, а все юридические вопросы мы возьмем на себя.</p>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <h3>Now a days criminality is at the top amongst college and university going students.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <h3>A criminal case, in common law jurisdictions, begins when a person suspected of a crime.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="case-details-tab-item">
                            <div class="case-details-tab-img">
                                <img src="{% static 'assets/img/home-one/IMG_2764.JPG'%}" alt="Case">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Case Details Tab -->

 {% endblock %}