{% extends 'legal_services/base.html'%}
{% load static %}
{% block content %}

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Политика обработки персональных данных</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Политика обработки персональных данных</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Privacy -->
        <section class="privacy-area pt-100">
            <div class="container">
                <div class="privacy-item">
                    <h2>1.Что такое персональные данные и их обработка?</h2>
                    <p>Персональные данные — это любая информация о физическом лице — субъекте персональных данных — при помощи которой его можно идентифицировать . К юридическим лицам этот термин не применяется.

Обработка персональных данных — это любое действие с персональными данными, например, сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.

.</p>
                </div>
                <div class="privacy-item">
                    <h2>2.Что мы делаем с персональными данными?</h2>
                    <p>Компания собирает и обрабатывает персональные данные. Также определяет цели обработки данных, их состав и действия, совершаемые с персональными данными.

При обработке данных мы соблюдаем требования конфиденциальности и не допускаем распространения персональных данных без Вашего согласия, за исключением случаев, когда мы обязаны это сделать на основании закона. При этом мы можем передавать Ваши персональные данные операторам электросвязи, но делаем это исключительно с целью возможности связаться с Вами по предоставленным контактным данным.

Если что-то случится с предоставленными нам данными, например — утечка, мы сразу Вас об этом проинформируем. Также в течение 24 часов мы уведомим об этом Роскомнадзор и начнем внутреннюю проверку, о результатах которой оповестим ведомство в течение 72 часов с момента утечки данных.

Но чтобы этого не произошло компания принимает все возможные меры для защиты персональной информации от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от неправомерных действий третьих лиц.

При этом компания не несёт ответственности, если конфиденциальная информация стала публичной до её разглашения или была получена от третьих лиц.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    </p>
                </div>
                <div class="privacy-item">
                    <h2>3.Какие данные мы обрабатываем?</h2>
                    <p>В процессе использования сайта Вам может потребоваться предоставить некоторые данные о себе.</p>
                    <p>Они могут включать в себя следующую информацию:</p>
                    <ul>
                        <li><i class="icofont-simple-right"></i> Фамилия, имя и отчество;</li>
                        <li><i class="icofont-simple-right"></i> контактный номер телефона;</li>
                        <li><i class="icofont-simple-right"></i> IP-адрес;</li>
                        <li><i class="icofont-simple-right"></i> адрес электронной почты (e-mail).</li>
                    </ul>
                    <p>Мы не проверяем эти данные и рассчитываем, что Вы предоставите достоверную информацию.

Срок обработки — до момента ликвидации либо реорганизации компании.

Все данные компания обрабатывает как вручную, так и в электронном виде. Любая другая информация, которая может стать нам известной, например, используемые браузеры и операционные системы, также подлежит надежному хранению.

В любой момент Вы можете отозвать свое согласие на обработку персональных данных или попросить удалить их — по Вашему запросу мы исключим их из нашей базы.</p>
                </div>
                <div class="privacy-item">
                    <h2>4.Зачем мы обрабатываем Ваши персональные данные?</h2>
                    <p>Персональные данные оператор может использовать чтобы:</p>
                    <p>Обеспечить обратную связь с пользователями сайта. ФИО, контактный телефон, e-mail, IP-адрес используются с целью обеспечить возможность получить обратный звонок, консультацию или иную запрашиваемую информацию об услугах компании.</p>
                    <p>Делать информационные рассылки. ФИО, e-mail, номер телефона используются для отправки пользователям с их согласия судебных материалов, юридических новостей, аналитических статей, а также уведомлений о предстоящих мероприятиях, семинарах и новостях компании.</p>
                    <p>Повышать качество обслуживания и улучшать работу сайта. Обработка IP-адресов используется для обеспечения безопасности сайта, предотвращения технических сбоев, а также для сбора статистики об использовании сайта с целью его последующего улучшения.</p>
                </div>
                <div class="privacy-item">
                    <h2>Что ещё важно знать</h2>
                    <p>Номер телефона, который мы предлагаем ввести в некоторых формах, не является персональными данными в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных». Это объясняется тем, что абонентский номер сам по себе не является безусловным идентификатором личности. По этой причине рядом с такими формами мы не просим вас дополнительно отметить «галочкой» согласие на отправку ваших данных, а только даем ссылку на страницу с политикой конфиденциальности.

Для анализа посещаемости и повышения удобства использования сайта мы используем Яндекс.Метрику. Сервис автоматически собирает обезличенные данные о действиях посетителей на сайте (в частности, информацию о браузере, операционной системе, типе устройства, разрешении экрана, данные о действиях пользователя на сайте, местоположение пользователя на основе IP-адреса).

Отключение cookies может повлечь невозможность доступа к некоторым частям сайта.

Оператор вправе вносить изменения в политику без уведомления и согласия пользователей сайта. Новая политика вступает в силу с момента ее размещения на сайте компании на странице
.</p>
                </div>
            </div>
        </section>
        <!-- End Privacy -->

 {% endblock %}